<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ company.name }}</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">    
    <meta name="keywords" content="{{ company.metaKeywords }}">
    <meta name="title" content="{{ company.metaDescription }}">
    <meta name="description" content="{{ company.metaDescription }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/animate/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('fonts/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/animsition/css/animsition.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/util.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/main.css') }}">
</head>

<style>
@keyframes fade{from{opacity:1}50%{opacity:.4}to{opacity:1}}@-webkit-keyframes fade{from{opacity:1}50%{opacity:.4}to{opacity:1}}
.blink{animation:fade 3000ms infinite;-webkit-animation:fade 3000ms infinite}
.btn.btn-primary.btn-outline-primary {border: 3px solid #1089ff !important;background: transparent;color: #1089ff;border-radius: 0px}
.btn.btn-primary.btn-outline-primary:hover{background: #1089ff;color: #FFF}
@media (max-width:769px){
.m-t-85{margin-top: 35px}
.p-b-70{padding-bottom:30px}}
</style>
    <body>
        {% if host %}
        
        <div style="position:fixed;top:-12px;left:6px;z-index:999999;font-size:3em" class="blink text-danger"><b>Demo</b></div>
        
        {% endif %}
        {% block content %}{% endblock %}

        <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('vendor/animsition/js/animsition.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/popper.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendor/main.js') }}"></script>

</body>
</html>



