<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="padding:64px 8px;background:#EEE;margin:0px;font-family:Lato,sans-serif">
<div style="background: #fdf5e6;border: 1px solid #999;max-width:500px; margin:0 auto">
<div style="padding:12px 8px">	
<img src='{{ logo }}' width=80 style="margin-top: -52px">
<h4>Hi {{ username }} your Booking #{{ id }}, is <b>{{ status }}</b> soon you'll receive an email with the current status.<h4/>
Booking details:<br>
<hr>
<p>
Tour: {{ tour }}<br>
Date: {{ date }} @ {{ hour }}<br>
Adult: {{ adult }}<br>
Children: {{ children }}<br>
Baby: {{ baby }}<br>
{% if wp %}
Warranty Payment: Yes
{% endif %}
<hr>
</p>
<p>
Thank you, Taruga Benagil Tours.
</p>
<hr>
<h4>{{ terms }}</h4>
{{ terms_txt|raw }}
</div>
</div>
</body>