<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="padding:64px 8px;background:#EEE;margin:0px;font-family:Lato,sans-serif">
<div style="background: #fdf5e6;border: 1px solid #999;max-width:500px; margin:0 auto">
<div style="padding:12px 8px">	
<img src='{{ logo }}' width="80" style="margin-top: -52px">
<h4>Olá {{ name }}, não se esqueça que a sua reserva com {{company_name}} está marcada para amanhã, {{date}} às {{time}}, para {{tour}}.</h4>
<h4>O check in é feito 30 minutos antes na nossa <a target="_blank" href="https://www.google.com/maps/dir//Taruga+Benagil+Tours/"> Ticket Shop</a></h4>
<h4>Obrigado, {{company_name}}.</h4>
</div>
</div>
</body>