<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="padding:64px 8px;background:#EEE;margin:0px;font-family:Lato,sans-serif">
<div style="background: #fdf5e6;border: 1px solid #999;max-width:500px; margin:0 auto">
<div style="padding:12px 8px">	
<img src='{{ logo }}' width="80" style="margin-top: -52px">
<h4>Hi {{ name }}, this is a reminder that your booking with {{company_name}} is scheduled for tomorrow, {{date}} at {{time}}, for {{tour}}.</h4>
<h4>Thank you, {{company_name}}.</h4>
</div>
</div>
</body>