<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="padding:64px 8px;background:#EEE;margin:0px;font-family:Lato,sans-serif">
<div style="background: #fdf5e6;border: 1px solid #999;max-width:500px; margin:0 auto">
<div style="padding:12px 8px">	
<img src='{{ logo }}' width=80 style="margin-top: -52px">
<h4>Olá {{ username }} a Reserva #{{ id }}, está <b>{{ status }}</b> em breve receberá um email com o novo estado.<h4/>
Detalhes Reserva :<br>
<hr>
<p>
Passeio: {{ tour }}<br>
Data: {{ date }} @ {{ hour }}<br>
Adulto: {{ adult }}<br>
Criança: {{ children }}<br>
Bébé: {{ baby }}<br>
{% if wp %}
Garantia Pagamento: Sim
{% endif %}
<hr>
</p>
<p>
Obrigado, {{company_name}}.
</p>
<hr>
<h4>{{ terms }}</h4>
{{ terms_txt|raw }}
</div>
</div>
</body>