<!DOCTYPE html>

{% set foo = app.request.locale |split('_') %}

<html lang="{{ foo[0] }}" xml:lang="{{ foo[0] }}" xmlns="http://www.w3.org/1999/xhtml">

    <head>
 		<meta charset="UTF-8">
        <title>{{ company.metaDescription }}</title>
 		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="keywords" content="{{ company.metaKeywords }}">
 		<meta name="title" content="{{ company.metaDescription }}">
 		<meta name="description" content="{{ company.metaDescription }}">
		<meta name="robots" content="index,nofollow">
 		
 		<!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="{{ company.metaDescription }}">
        <meta itemprop="description" content="{{ company.metaDescription }}">
        <meta itemprop="image" content="{{ asset('upload/gallery/') }}{{company.logo}}">
        
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="{{ company.linkMyDomain }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ company.metaDescription }}">
        <meta property="og:description" content="{{ company.metaDescription }}">
        <meta property="og:image" content="{{ asset('upload/gallery/') }}{{company.logo}}">
        
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ company.metaDescription }}">
        <meta name="twitter:description" content="{{ company.metaDescription }}">
        <meta name="twitter:image" content="{{ asset('upload/gallery/') }}{{company.logo}}">
        {% include 'taruga/styles.html' %}
        		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138976385-1"></script>
        <script>
 	 		window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
			 gtag('config', 'UA-138976385-1');
		</script>
    <style>
.fa-star{
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    color:#fff;
 }
</style>
    </head>
    <body>

		{% include 'taruga/navbar.base.html' %}
        
        <section class="bgimg-6 w3-border-bottom" style="background-image: url({{asset('images/help-improve.jpg')}}); padding-top:56px;height:25em">
            <div class="w3-padding-64 w3-padding-large w3-text-white">
                <h2 class="w3-padding-16">{% trans %}link.help_improve{% endtrans %}</h2>
                <p style="max-width:430px">{% trans %}help_improve_txt{% endtrans %}</p>
            </div>
        </section>

        <section class="request w3-padding-32" style="max-width:1024px;margin:0 auto">
            <div class="w3-row-padding">
            <div class=" w3-col l6 m6 s12 w3-padding-32">
                
                <div class="w3-col w3-hide-small" style="width:74px">
                    <i class="fa fa-smile-o w3-jumbo" style="margin-top:10px"></i>
                </div>
                <div class="w3-rest w3-hide-small">
                    <h2 class="">{% trans %}send_feedback{% endtrans %}</h2>
                    <p class="w3-margin-bottom w3-hide-small" style="max-width:236px">{% trans %}send_feedback_txt{% endtrans %}</p>
                    <p class="w3-margin-bottom w3-hide-medium w3-hide-large">{% trans %}send_feedback_txt{% endtrans %}</p>
                    <span onclick="clearFeedback(); $('#modal-show-feedback').show()" class="w3-margin-top w3-btn w3-border w3-round w3-white">{% trans %}send_feedback_btn{% endtrans %}</span>
                </div>
            

                <div class="w3-col s12 w3-center w3-hide-medium w3-hide-large w3-animate-zoom w3-text-green">
                    <i class="fa fa-smile-o w3-sepia" style="font-size:120px"></i>
                </div>
                <div class="w3-col s12 w3-center w3-hide-medium w3-hide-large">
                    <h2 class="">{% trans %}send_feedback{% endtrans %}</h2>
                    <p class="w3-margin-bottom w3-hide-small" style="max-width:236px">{% trans %}send_feedback_txt{% endtrans %}</p>
                    <p class="w3-margin-bottom w3-hide-medium w3-hide-large">{% trans %}send_feedback_txt{% endtrans %}</p>
                    <span onclick="clearFeedback(); $('#modal-show-feedback').show()" class="w3-margin-top w3-btn w3-border w3-round w3-white">{% trans %}send_feedback_btn{% endtrans %}</span>
                </div>
            
            </div>
            
            <div class="w3-col l6 m6 s12 w3-padding-32">
                <div class="w3-col w3-hide-small" style="width:74px">
                    <i class="w3-jumbo fa fa-exclamation-circle" style="margin-top:14px"></i>
                </div>

                <div class="w3-rest w3-hide-small">
                    <h2 class="">{% trans %}report_issue{% endtrans %}</h2>
                    <p class="w3-margin-bottom w3-hide-small" style="max-width:236px">{% trans %}report_issue_txt{% endtrans %}</p>
                    <p class="w3-margin-bottom w3-hide-medium w3-hide-large">{% trans %}report_issue_txt{% endtrans %}</p>
                    <span onclick="$('#modal-show-report-issue').show()" class="w3-btn w3-border w3-round w3-white">{% trans %}report_issue_btn{% endtrans %}</span>
                </div>


                <div class="w3-col s12 w3-center w3-hide-medium w3-hide-large w3-animate-zoom w3-text-red">
                    <i class="fa fa-exclamation-circle w3-sepia" style="font-size:120px"></i>
                </div>

                <div class="w3-col s12 w3-center w3-hide-medium w3-hide-large">
                    <h2 class="">{% trans %}report_issue{% endtrans %}</h2>
                    <p class="w3-margin-bottom w3-hide-small" style="max-width:236px">{% trans %}report_issue_txt{% endtrans %}</p>
                    <p class="w3-margin-bottom w3-hide-medium w3-hide-large">{% trans %}report_issue_txt{% endtrans %}</p>
                    <span onclick="$('#modal-show-report-issue').show()" class="w3-btn w3-border w3-round w3-white">{% trans %}report_issue_btn{% endtrans %}</span>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="w3-row w3-light-grey">
            <div class="w3-col l6 s12 m12 w3-padding-32 w3-center">
                <h3 class="">{% trans %}enhance_experience{% endtrans %}</h3>
                <a href="{{ path('index') }}"  class="w3-btn w3-border w3-sand w3-round">{% trans %}enhance_experience_btn{% endtrans %}</a>
            </div>
            <div class="w3-col l6 s12 w3-hide-medium w3-hide-small">
                <!--img src="https://www.adaware.com/sites/default/files/2016-09/hubcta-helpus_1.jpg"-->
                <img class="w3-image" src="{{asset('images/help.jpg')}}">
            </div>
        </div>
    </section>

 

    <!--section class="request w3-padding-16" style="max-width:1024px;margin:0 auto"><div class="w3-border-bottom"></div></section-->

    <section class="w3-light-grey w3-border-top">
        <div class="w3-row">
    <div class="w3-xxxlarge w3-padding-small w3-center w3-opacity-min">
  {% if company.linkFacebookActive == true %}
  <a href="{{company.linkFacebook}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-facebook-official w3-hover-opacity w3-text-indigo"></i>
  </a>
  {% endif %}
  
  {% if company.linkInstagramActive == true %}
  <a href="{{company.linkInstagram}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-instagram w3-hover-opacity w3-text-brown"></i>
  </a>
  {% endif %}
  
  {% if company.linkPinterestActive == true %}
  <a href="{{company.linkPinterest}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-pinterest-p w3-hover-opacity w3-text-red"></i>
  </a>
  {% endif %}
  
  {% if company.linkTwitterActive == true %}
  <a href="{{company.linkTwitter}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-twitter w3-hover-opacity w3-text-blue"></i>
  </a>
  {% endif %}
  
  {% if company.linkLinkenActive == true %}
  <a href="{{company.linkLinken}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-linkedin w3-hover-opacity w3-text-blue"></i>
  </a>
  {% endif %}
  
  {% if company.linkBehanceActive == true %}
  <a href="{{company.linkBehance}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-behance w3-hover-opacity w3-teal"></i>
  </a>
  {% endif %}
  
  {% if company.linkYoutubeActive == true %}
  <a href="{{company.linkYoutube}}" target="_blank" style="display:inline; padding:0px;margin:2px;font-size: 30px">
    <i class="fa fa-youtube w3-hover-opacity w3-text-red"></i>
  </a>
  {% endif %}

  {% if company.linkSnapchatActive== true %}
  <a href="{{company.linkSnapchat}}" target="_blank" style="display:inline; padding:0px;margin: 2px;">
    <i class="fa fa-snapchat w3-hover-opacity w3-text-brown"></i>
  </a>
  {% endif %}

</div>
</div>
</section>


<div id="modal-show-report-issue" style="padding-top:64px;padding-bottom:64px;display:none;z-index:9" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:650px">
    <div class="w3-border-bottom w3-padding w3-light-grey">
       <span class="w3-closebtn w3-padding-small" onclick="clearFeedback();$('#modal-show-report-issue').hide()">
        <i class="fa fa-times"></i>
      </span>
     <p class="w3-text-black w3-xxlarge"><i class="fa fa-exclamation-circle"></i> {%trans%}report_issue{%endtrans%}</p>
    </div>
    <div class="w3-container w3-white w3-padding-16 w3-border-bottom">
    {{ form_start(reportIssueForm, {'attr': {'id': 'report-issue-form'}})  }}
      <div class="w3-row-padding">
        
        <div class="w3-col l6 m12 s12">
          <label class="w3-small w3-text-red">{%trans%}part_seven.name{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right name bold required-txt">{%trans%}required{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right invalid_name bold required-txt">{%trans%}part_seven.name_invalid{%endtrans%}</span>
          {{ form_widget(reportIssueForm.name)}} 
        </div>

        <div class="w3-col l6 m12 s12">
          <label class="w3-small w3-text-red">{%trans%}part_seven.email{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right email bold required-txt">{%trans%}required{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right invalid_email bold required-txt">{%trans%}part_seven.email_invalid{%endtrans%}</span>
          {{ form_widget(reportIssueForm.email)}} 
        </div>

        <div class="w3-col l12">
          <label class="w3-small">{%trans%}part_seven.observations{%endtrans%} </label>
          {{ form_widget(reportIssueForm.observations)}} 
        </div>
        <div class="w3-col l12">
          <label class="w3-small">{%trans%}attach_image{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right invalid_attach_image bold required-txt">{%trans%}invalid_attach_image{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right js_attach_image bold required-txt"></span>
          {{ form_widget(reportIssueForm.image)}} 
        </div>

        <div class="w3-col s12">
          <div class="user-message-report-issue w3-margin-top w3-center w3-text-green w3-hide bold w3-light-grey w3-padding w3-border w3-margin-bottom w3-round"></div>
        </div>
      </div>
    {{form_end(reportIssueForm)}}

    </div>
    <div class="w3-container w3-white w3-padding-16 w3-margin-bottom">
      <span class="w3-btn w3-border w3-white w3-round w3-left" onclick="clearReportIssue();$('#modal-show-report-issue').hide()">
        <i class="fa fa-times"></i> {%trans%}close{%endtrans%} </span>

      <span class="w3-btn w3-border w3-green w3-round w3-right" onclick="$('#report-issue-form').trigger('submit')">
        <i class="fa fa-check"></i> {%trans%}part_seven.submit{%endtrans%} </span>
    </div>
  </div>
</div>



<div id="modal-show-feedback" style="padding-top:64px;padding-bottom:64px;display:none;z-index:9" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:650px">
    <div class="w3-border-bottom w3-padding w3-light-grey">
      <span class="w3-closebtn w3-padding-small" onclick="clearFeedback();$('#modal-show-feedback').hide()">
        <i class="fa fa-times"></i>
      </span>
      <p class="w3-text-black w3-xxlarge"><i class="fa fa-smile-o"></i> {% trans %}send_feedback{% endtrans %}</p>
    </div>
    <div class="w3-container w3-white w3-padding-16 w3-border-bottom">
    {{ form_start(feedbackForm, {'attr': {'id': 'feedback-form'}})  }}
      <div class="w3-row-padding w3-large">
        
        <div class="w3-col l6 m12 s12">
          <label class="w3-small w3-text-red">{%trans%}part_seven.name{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right name bold required-txt">{%trans%}required{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right invalid_name bold required-txt">{%trans%}part_seven.name_invalid{%endtrans%}</span>
          {{ form_widget(feedbackForm.name)}} 
        </div>

        <div class="w3-col l6 m12 s12">
          <label class="w3-small w3-text-red">{%trans%}part_seven.email{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right email bold required-txt">{%trans%}required{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right invalid_email bold required-txt">{%trans%}part_seven.email_invalid{%endtrans%}</span>
          {{ form_widget(feedbackForm.email)}} 
        </div>



        <div class="w3-col l6 m12 s12">
          <label class="w3-small w3-text-red">{%trans%}part_seven.booking_nr{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right booking_nr bold required-txt">{%trans%}required{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right booking_not_valid bold required-txt">{%trans%}booking_not_valid{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right booking_email_invalid bold required-txt">{%trans%}booking_email_invalid{%endtrans%}</span>
          <span class="w3-text-red w3-medium w3-hide w3-right already_left_feedback bold required-txt">{%trans%}already_left_feedback{%endtrans%}</span>
          {{ form_widget(feedbackForm.booking)}} 
        </div>

        <div class="w3-col l6 m12 s12">
          <div class="w3-hide">
          {{ form_widget(feedbackForm.rate)}}
          </div>
          <label class="w3-small w3-text-red">{%trans%}part_seven.rating{%endtrans%} </label>
          <span class="w3-text-red w3-medium w3-hide w3-right rate bold required-txt">{%trans%}required{%endtrans%}</span>
          <div class="w3-padding-small" style="margin-top:6px">
            {% for i in 1..5 %}
            <i class="fa fa-star w3-xlarge star-nr-{{i}}" onclick="setStars({{i}})" style="cursor:pointer" title="{{i}}-stars"></i> 
            {% endfor %}
          </div>
        </div>

        <div class="w3-col l12">
          <label class="w3-small">{%trans%}part_seven.observations{%endtrans%} </label>
          {{ form_widget(feedbackForm.observations)}}
        </div>

        <div class="w3-col s12">
           <div class="user-message-feedback w3-margin-top w3-center w3-text-green w3-hide bold w3-light-grey w3-padding w3-border w3-margin-bottom w3-round"></div>
        </div>

      </div>
    {{form_end(feedbackForm)}}

    </div>
    <div class="w3-container w3-padding-16 w3-margin-bottom">
      <span class="w3-btn w3-white w3-border w3-round w3-left" onclick="clearFeedback();$('#modal-show-feedback').hide()">
        <i class="fa fa-times"></i> {%trans%}close{%endtrans%} </span>

      <span class="w3-btn w3-border w3-green w3-round w3-right" onclick="$('#feedback-form').trigger('submit')">
        <i class="fa fa-check"></i> {%trans%}part_seven.submit{%endtrans%} </span>
    </div>
  </div>
</div>
    {% include 'taruga/footer.html' %}

		{% include 'taruga/navbarmobile.help_improve.html' %}
		
		{% include 'taruga/javascript.help_improve.html' %}

    {% include 'taruga/modals.html' %}

<script>

function clearFeedback(){
  $('#feedback-form').trigger('reset')
  $('.fa-star').removeClass('w3-text-yellow w3-animate-zoom')
  $('.required').addClass('w3-hide')
}

function clearReportIssue(){
  $('#report-issue-form').trigger('reset')
  $('.required').addClass('w3-hide')
}


function setStars(nr){
  c = 0
  $('.fa-star').removeClass('w3-text-yellow w3-animate-zoom')

  while (c != nr){
     c++
    $('.star-nr-'+c).addClass('w3-text-yellow w3-animate-zoom')
  }
  $('#feedback_rate').val(nr)
}

 $('#report-issue-form').on('submit',function(e){
        e.preventDefault()
        form = new FormData($(this)[0])
         $('.required-txt').addClass('w3-hide');
         $('.w3-overlay').show()
         setTimeout(function(){
          fileStatus = showFileSize()
          if(fileStatus.status == 1){
            $('.w3-overlay').hide()
            $('.js_attach_pdf').removeClass('w3-hide').html(fileStatus.text)
            $()
          }
          else{
            $.ajax({
              url:"{{ path('send_report_issue') }}",
              type: "POST",
              data: form,
              processData: false,
              contentType: false,
              cache: false,
               success: function(data){
                $('.w3-overlay').hide()
                if(data.status == 1)
                {
                    $('#report-issue-form').trigger('reset')
                    $('.user-message-report-issue').removeClass('w3-hide').html('{% trans %}reported_issue_submited{% endtrans %}');
                    setTimeout(function(){$('.user-message-report-issue').addClass('w3-hide')},10000)
                  }
                  else{ 
                    $('#form_'+data.data[0]).focus()
                    for(var k in data.data)
                      $('.'+data.data[k]).removeClass('w3-hide')
                  }
               },
               error:function(data){
                  $('.w3-overlay').hide()
                  $('#modal-error').show()
               }
            })
          }
         }, 500)
    })

  $('#feedback-form').on('submit',function(e){
    e.preventDefault()
    $('.required-txt').addClass('w3-hide');
    $('.w3-overlay').show()
    setTimeout(function(){
      $.ajax({
        url:"{{ path('send_feedback') }}",
        type: "POST",
        data: $('#feedback-form').serialize(),
        cache: false,
        success: function(data){
          console.log(data)
            $('.w3-overlay').hide()
                if(data.status == 1)
                {
                    clearFeedback()
                    $('.user-message-feedback').removeClass('w3-hide').html('{% trans %}feedback_success{% endtrans %}');
                    setTimeout(function(){$('.user-message-feedback').addClass('w3-hide')},10000)
                  }
                  else{ 
                    $('#form_'+data.data[0]).focus()
                    for(var k in data.data)
                      $('.'+data.data[k]).removeClass('w3-hide')
                  }
               },
               error:function(data){
                  $('.w3-overlay').hide()
                  $('#modal-error').show()
              }
            })
         }, 500)
    })

function showFileSize() {
    var file
  /*BROWSER NO FILEREADER SUPPORT*/
    if (!window.FileReader) {
        return {status:1, text:'{% trans %}no_api_file{% endtrans %}'}
    }
    i = document.getElementById('report_issue_image')
  /*INPUT ELEMENT NOT FOUND*/
    if (!i) {
      var $el = $('#report_issue_image')
        $el.wrap('<form>').closest('form').get(0).reset()
      $el.unwrap()
        return  {status:0, text:'{% trans %}no_file_input_found{% endtrans %}'}
    }
  /*BROWSER NO FILES SUPPORT*/
    else if (!i.files) {
      var $el = $('#'+input.target.id)
        $el.wrap('<form>').closest('form').get(0).reset()
      $el.unwrap()
      return {status:1, text:'{% trans %}no_file_support{% endtrans %}'}
    }
    else {
        file = i.files[0]
      if (file){
        var fileTypes = ['jpg','jpeg','png','gif'] 
        extension = file.name.split('.').pop().toLowerCase()
        isSuccess = fileTypes.indexOf(extension) > -1
      /*VALIDATE THE IMAGE EXTENSIONS*/
         if (!isSuccess){
          var $el = $('#report_issue_image')
          $el.wrap('<form>').closest('form').get(0).reset()
          $el.unwrap()
          return {status:1, text:'{% trans %}invalid_attach_image{% endtrans %}'}
        }
    /*VALIDATE THE IMAGE SIZE IN BYTES 2MB ALLOWED*/
        else if (file.size > 1999999){
        var $el = $('#report_issue_image')
          $el.wrap('<form>').closest('form').get(0).reset()
        $el.unwrap()
        return {status:1, text:'{% trans %}invalid_image_size{% endtrans %}'}
        }
       
        else{
       return {status:0, text:file.size +'bytes'}
      }
      return {status:0, text:0}
    }
    return {status:0, text:0}
  }
  return {status:0, text:0}
}


</script>
  </body>
</html>