<!DOCTYPE html>

{% set foo = locale |split('_') %}

<html lang="{{ foo[0] }}" xml:lang="{{ foo[0] }}" xmlns="http://www.w3.org/1999/xhtml">

    <head>
 		<meta charset="UTF-8">
        <title>{{ company.metaDescription }}</title>
 		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="keywords" content="{{ company.metaKeywords }}">
 		<meta name="title" content="{{ company.metaDescription }}">
 		<meta name="description" content="{{ company.metaDescription }}">
		<meta name="robots" content="index,nofollow">
 		
 		<!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="{{ company.metaDescription }}">
        <meta itemprop="description" content="{{ company.metaDescription }}">
        <meta itemprop="image" content="{{ asset('upload/gallery/') }}{{company.logo}}">
        
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="{{ company.linkMyDomain }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ company.metaDescription }}">
        <meta property="og:description" content="{{ company.metaDescription }}">
        <meta property="og:image" content="{{ asset('upload/gallery/') }}{{company.logo}}">
        
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ company.metaDescription }}">
        <meta name="twitter:description" content="{{ company.metaDescription }}">
        <meta name="twitter:image" content="{{ asset('upload/gallery/') }}{{company.logo}}">
        {% include 'taruga/styles.html' %}
        		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138976385-1"></script><script>
 	 		window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
			 gtag('config', 'UA-138976385-1');
		</script>
    </head>
    <body>
		{% include 'taruga/navbar.base.html' %}

		{% include 'taruga/navbarmobile.info.html' %}
		
		{% include 'taruga/banner_3.html' %}

		{% include 'taruga/aequipa_iii.html' %}

		{% include 'taruga/aequipa_ii.html' %}

		{% include 'taruga/contatos.html' %}

		{% include 'taruga/ondeestamos.html' %}	
		
		{% include 'taruga/footer.html' %}

		{% include 'taruga/modals.html' %}
		
		{% include 'taruga/javascript.info.html' %}

    </body>
</html>